<div class="columns">
  <div class="column is-4">
    <form
      class="form-group"
      [formGroup]="calculateGroup"
    >
      <div formGroupName="capitalRange">
        <span class="text-left is-size-4 font-weight-bold">
          {{ 'MODELS.FORMS.CAPITAL' | translate }}:
        </span>
        <div class="field">
          <label class="label">{{ 'MODELS.FORMS.MIN' | translate }}: </label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="min"
              min="0"
              [max]="max"
            >
          </div>

          <label class="label">{{ 'MODELS.FORMS.MAX' | translate }}: </label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="max"
              [min]="min"
            >
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
            {{ 'MODELS.FORMS.PREMIUM' | translate }}:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="a"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">
            {{ 'MODELS.FORMS.PAYMENTS' | translate }}:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="b"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">
            {{ 'MODELS.FORMS.LOAD' | translate }}:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="theta"
            step="0.01"
          >
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-success"
            (click)="onCalculate()"
            [disabled]="!calculateGroup.valid"
          >{{ 'MODELS.FORMS.CALCULATE' | translate }}</button>
        </div>
        <div class="control">
          <button
            class="button is-danger"
            (click)="onClear()"
          >{{ 'MODELS.FORMS.CLEAR_GRAPH' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <app-hint [hint]="'HINTS.FIRST_MODEL' | translate"></app-hint>
    <div *ngIf="graphVisible; else notValid">
      <app-graph [multi]="multi"></app-graph>
    </div>
    <ng-template #notValid>
      <h1>{{ 'MODELS.FORMS.WARNING' | translate }}</h1>
    </ng-template>
  </div>
</div>
