<div class="columns">
  <div class="column is-4">
    <form
      class="form-group"
      [formGroup]="calculateGroup"
    >
      <div formGroupName="capitalRange">
        <span class="text-left is-size-4 font-weight-bold">
          Капитал:
        </span>
        <div class="field">
          <label class="label">Минимальное значение: </label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="min"
              min="0"
              [max]="max"
            >
          </div>

          <label class="label">Максимальное значение: </label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="max"
              [min]="min"
            >
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          Премии:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="a"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">
          Выплаты:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="b"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">
          Нагрузка страховой премии:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="theta"
            step="0.01"
          >
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-success"
            (click)="onCalculate()"
            [disabled]="!calculateGroup.valid"
          >Рассчитать</button>
        </div>
        <div class="control">
          <button
            class="button is-danger"
            (click)="onClear()"
          >Очистить график</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <app-hint [hint]="hint"></app-hint>
    <div *ngIf="graphVisible; else notValid">
      <app-graph [multi]="multi"></app-graph>
    </div>
    <ng-template #notValid>
      <h1>Check yor input!</h1>
    </ng-template>
  </div>
</div>
