<nav class="navbar is-spaced has-shadow level">
  <div class="level-left">
    <div class="navbar-menu">
      <a
        routerLink="model1"
        class="navbar-item"
      >{{ 'HEADER.FIRST_MODEL' | translate }}</a>
      <a
        routerLink="model2"
        class="navbar-item"
      >{{ 'HEADER.SECOND_MODEL' | translate }}</a>
      <a
        routerLink="model3"
        class="navbar-item"
      >{{ 'HEADER.THIRD_MODEL' | translate }}</a>
    </div>
  </div>
  <div class="level-right">
    <div class="nav-bar-end">
      <div class="select">
        <select
          #langSelect
          (change)="translate.use(langSelect.value)"
        >
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >{{ lang }}</option>
        </select>
      </div>
    </div>
  </div>
</nav>
