<div class="columns">
  <div class="column is-4">
    <form
      class="form-group"
      [formGroup]="calculateGroup"
    >
      <div formGroupName="capitalRange">
        <span class="text-left is-size-4 font-weight-bold">
          Capital Range:
        </span>
        <div class="field">
          <label class="label">Min: </label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="min"
              min="1"
            >
          </div>

          <label class="label">Max: </label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="max"
            >
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          &Theta;:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="theta"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">
          k:
        </label>
        <div class="control">
          <input
            type="number"
            class="input"
            formControlName="k"
          >
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-success"
            (click)="onCalculate()"
          >Calculate</button>
        </div>
        <div class="control">
          <button
            class="button is-danger"
            (click)="onClear()"
          >Clear</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <app-hint [hint]="hint"></app-hint>
    <div *ngIf="graphVisible; else notValid">
      <app-graph [multi]="multi"></app-graph>
    </div>
    <ng-template #notValid>
      <h1>Check yor input!</h1>
    </ng-template>
  </div>
</div>
